# Dependencies
/vendor/
/node_modules/

# Composer
composer.lock

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build
/build/
/dist/
/temp/

# Logs
*.log

# Testing
/coverage/
.phpunit.cache/
.phpunit.result.cache

# Environment
.env
.env.local
